<%
/**
 * Display all categories of a category
 * @param category
 * @returns {string}
 */
function displayCategories(category) {
    // get all its child categories
    var childCategories = site.categories.find({'parent': category._id});
    // init parents
    if (category.parents === undefined) {
        category.parents = [];
    }
    // create category content
    var html = '';
    html += '<div>';
    html += '<a href="#posts-list-' + category.name + '" ' +
        'class="category-anchor" ' +
        'data-category="' + category.name.toLowerCase() + '" ' +
        'data-parent-categories="' + category.parents.join(',') + '">';
    if (category.parent) {
        html += ' / ';
    }
    html += category.name;
    html += '</a>';
    if (childCategories.length > 0) {
        html += '<ul style="margin-bottom:0;">';
        // recursive iteration on its child categories
        childCategories.forEach(function(childCategory) {
            // clone parents of current category to its child category
            childCategory.parents = category.parents.slice();
            // add current category to the parent of current child category
            childCategory.parents.push(category.name.toLowerCase());
            html += displayCategories(childCategory);
        });
        html += '</ul>';
    }
    html += '</div>';
    return html;
}
%>

    <section class="boxes">
        <% site.categories.sort('name').each(function(category) { %>
            <% if (!category.parent) { %>
                <%- displayCategories(category) %>
            <% } %>
        <% }); %>
    </section>